# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
reactapp/node_modules
reactapp/.pnp
reactapp/.pnp.js
env

# testing
reactapp/coverage

# production
reactapp/build

# misc
reactapp/.DS_Store
reactapp/.env.local
reactapp/.env.development.local
reactapp/.env.test.local
reactapp/.env.production.local

reactapp/npm-debug.log*
reactapp/yarn-debug.log*
reactapp/yarn-error.log*
